@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LibreBarcode128Text';
    src: url('$lib/fonts/LibreBarcode128Text-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansMono-Condensed';
    src: url('$lib/fonts/NotoSansMono-Condensed-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
